.add-plan{
  background-color: #D4D9EB;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 43px;
}

.add-plan fieldset{
  border: none;
  outline: none;
  padding-bottom: 23px;

  &:last-of-type{
    padding-bottom: 10px;
  }
}

.add-plan__wrap{
  width: 270px;
}

.add-plan__title-block{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-plan__title{
  @include blue-title(24px);
}

.add-plan__slider-dots{
  display: flex;
  min-width: 47px;
  justify-content: space-between;
  margin-top: 22px;
  margin-right: 2px;
}

.add-plan__slider-item{
  width: 5px;
  height: 5px;
  background: url("../img/slider-bullet.svg") center no-repeat;
  opacity: 0.3;

  &_selected{
    opacity: 1;
  }
}

.add-plan__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 9px;
}

.add-plan__block{
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 8px;
  margin-left: 0;
}

.add-plan__step-title{
  @include blue-title(20px);
}

.add-plan__step-description{
  font-family: $default;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  width: 220px;
}

.add-plan__companion-search-duration-wrap{
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 21px;
}

.add-plan__companion-search,
.add-plan__duration{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-plan__label-wrap{
  display: flex;
  justify-content: space-between;
}

.add-plan__secondary-title{
  font-family: $med;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1D2E5B;
}

.add-plan__measure{
  font-family: $med;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #1D2E5B;
  opacity: 0.3;
}

.add-plan__quantity-input{
  display: flex;
}

.add-plan__button{
  background-color: #fff;
  outline: none;
  border-top: 1px solid #CBCED9;
  border-bottom: 1px solid #CBCED9;
  font-size: 0;
  width: 42px;
  height: 42px;

  &_min{
    border-right: none;
    border-left: 1px solid #CBCED9;
    background: url("../img/form-minus.svg") center no-repeat;
  }

  &_max{
    border-left: none;
    border-right: 1px solid #CBCED9;
    background: url("../img/form-plus.svg") center no-repeat;
  }
}

.add-plan__input{
  width: 136px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #CBCED9;
  border-bottom: 1px solid #CBCED9;
  outline: none;
  text-align: center;

  font-family: $med;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1D2E5B;
}

.add-plan__kids+label{
  margin-top: 8px;
  font-family: $default;
  font-size: 15px;
  line-height: 16px;
  color: #1D2E5B;
  margin-left: 39px;
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &::before{
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: -7px;
    left: -39px;
    display: inline-block;
    vertical-align: baseline;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    border: 1px solid #CBCED9;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #fff;
  }
}

.add-plan__kids{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.add-plan__kids:checked+label::before{
  background: url("../img/filter-checkbox-active.svg") center no-repeat;
  background-color: #FFF;
}

.add-plan__calendar{
  margin-top: 24px;
}

.add-plan__next-step{
  @include typical-button;
  width: 230px;
  font-size: 17px;
  line-height: 30px;
}

.add-plan__choose-country-wrap{
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.add-plan__choose-country{
  width: 100%;
  display: flex;
  position: relative;
  cursor: pointer;

  &_add{
    background-color: #EDEFF6;
    border-radius: 4px;
  }
}

.add-plan__country-name{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 168px;
  border: 1px solid #CBCED9;
  box-sizing: border-box;
  border-radius: 4px;

  &::before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 8px;
    height: 11px;
    background: url("../img/form-arrow-down.svg") center no-repeat;
    bottom: -18px;
    right: -4px;
  }

  &::after{
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: #1D2E5B;
    right: -4px;
    top: 15px;
  }

  &_choose{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::after{
      background-color: transparent;
      border: 1px solid #CBCED9;
    }
  }

  &_add{
    padding-top: 13px;
    border: none;

    &::after{
      top: 17px;
      background-color: transparent;
      border: 1px solid #CBCED9;
    }

    &::before{
      display: none;
    }
  }

  &_dropdown-open{
    background-color: #1D2E5B;
    border-color: #1D2E5B;
    border-bottom-left-radius: 0;

    &::after{
      display: none;
    }

    &::before{
      display: none;
    }
  }
}

.add-plan__country-title{
  font-family: $med;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1D2E5B;

  &_dropdown-open{
    color: white;
    margin-left: 5px;
    margin-top: 3px;
  }
}

.add-plan__fade-block{
  position: absolute;
  top: 3px;
  right: 5px;
  width: 52px;
  height: 36px;
  background: url("../img/form-fade-mobile.png") center no-repeat;
}

.add-plan__list-open-button{
  width: 16px;
  height: 12px;
  background: url("../img/form-dropdown.svg") center no-repeat;
  outline: none;
  border: none;
  margin-left: 30px;
  margin-top: 10px;

  &_choose{
    margin-left: 15px;
    margin-top: 4px;
  }

  &_dropdown-open{
    margin-top: 6px;
    background: url("../img/close-form.svg") center no-repeat;
  }
}

.add-plan__country-flag{
  border: 1px solid #CBCED9;
  box-sizing: border-box;
  width: 53px;
  padding: 9px;
  border-radius: 4px;
  margin-left: -1px;

  &_choose{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &_add{
    border: none;
    background: url("../img/form-plus.svg") 25px 14px no-repeat;
  }

  &_bosnia-gerzegovina{
    background: url("../img/bosnia-gerzegovina.png") center no-repeat;
  }

  &_chech{
    background: url("../img/chech-flag.png") center no-repeat;
  }

  &_dropdown-open{
    background-color: #1D2E5B;
    border-color: #1D2E5B;
    border-bottom-right-radius: 0;
  }
}

.add-plan__delete-button{
  background: url("../img/delete-button-form.svg") center no-repeat;
  width: 21px;
  height: 21px;
  position: absolute;
  top: -10px;
  right: -10px;

  &_dropdown-open{
    display: none;
  }
}

.add-plan__change-step{
  display: flex;
  flex-direction: column;
  margin-left: -5px;
  align-items: center;
  margin-top: 25px;
}

.add-plan__previous-step{
  font-family: $bold;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1D2E5B;
  margin-top: 8px;
}

.add-plan__choose-country-dropdown{
  position: absolute;
  margin-top: 27px;
  z-index: 3;
  width: 220px;

  &_hidden{
    display: none;
  }
}

.add-plan__alphabet-list{
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  border-right: 1px solid #CBCED9;
  margin-bottom: 0;
}

.add-plan__alphabet-item{
  box-sizing: border-box;
  width: 43.8px;
  height: 44px;
  list-style: none;
  border-bottom: 1px solid #CBCED9;
  border-left: 1px solid #CBCED9;
  padding-top: 12px;
  padding-left: 17px;
  background-color: #fff;

  &_selected{
    background-color: #EDEFF6;
    border-bottom-color: #EDEFF6;
  }
}

.add-plan__alphabet-link{
  font-family: $med;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  text-align: center;
  text-transform: uppercase;

  color: #1D2E5B;
}

.add-plan__letter-a-list{
  margin-top: 0;
  border-left: 1px solid #CBCED9;
  border-right: 1px solid #CBCED9;
  border-bottom: 1px solid #CBCED9;
  padding-top: 19px;
  padding-left: 19px;
  padding-bottom: 27px;
  background-color: #fff;
}

.add-plan__letter-a-item{
  list-style: none;
}

.add-plan__letter-a-link{
  font-family: $default;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.add-plan__trip-direction{
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;

  &::before{
    content: '';
    display: inline-block;
    width: 17px;
    height: 287px;
    position: absolute;
    background: url("../img/form-direction-line-mobile.svg");
    top: 25px;
    left: -15px;
  }
}

.add-plan__label{
  position: relative;
  min-width: 206px;
  padding-left: 10px;
}

.add-plan__direction-name{
  font-family: $med;
  font-size: 18px;
  line-height: 18px;
  color: #1D2E5B;
}

.add-plan__fade{
  width: 72px;
  height: 24px;
  position: absolute;
  right: 21px;
  top: 0;
  background: url("../img/form-fade-mobile-2.png")
}

.add-plan__direction-flag{
  width: 35px;
  height: 24px;
  position: absolute;
  top: -3px;
  right: -6px;

  &_bosnia-gerzegovina{
    background: url("../img/bosnia-gerzegovina.png") center no-repeat;
  }

  &_chech{
    background: url("../img/chech-flag.png") center no-repeat;
  }
}

.add-plan__plan-input{
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  resize: none;
  padding-left: 14px;
  padding-top: 10px;
  padding-right: 19px;
  border-radius: 4px;
  border: 1px solid #CBCED9;

  font-family: $default;
  font-size: 16px;
  line-height: 22px;
  color: #444444;

  & placeholder{
    opacity: 0.3;
  }
}

.add-plan__submit-button{
  @include typical-button;
  border: none;
  padding-top: 8px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  margin-left: -7px;
  margin-bottom: 10px;
}
