.calendar {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.calendar__month-block {
  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  justify-content: space-between;
}

.calendar__month {
  @include blue-title(20px);
  margin-top: 2px;
}

.calendar__button {
  width: 15px;
  height: 21px;
  background: url("../img/form-arrow-back.svg") left no-repeat;
  margin-top: 2px;
  opacity: 0.3;

  &_next {
    transform: rotate(180deg);
    margin-bottom: -2px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__calendar-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar__weekday-list {
  padding-left: 0;
  display: flex;
  min-width: 197px;
  justify-content: space-between;
  margin-left: 2px;
  margin-top: 20px;
}

.calendar__weekday {
  list-style: none;
  font-family: $default;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &_weekend {
    color: #ff5c23;
  }
}

.calendar__weekday-big {
  display: none;
}

.calendar__dates-list {
  margin-top: -9px;
  width: 224px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  border-right: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
}

.calendar__item {
  box-sizing: border-box;
  padding-top: 6px;
  list-style: none;
  width: 32px;
  height: 31px;
  text-align: center;
  font-family: $med;
  font-size: 14px;
  line-height: 18px;
  color: #1d2e5b;
  border-top: 1px solid #d6d9e6;
  border-left: 1px solid #d6d9e6;

  &_active {
    position: relative;
    background-color: #edeff6;

    &:hover {
      &::before {
        top: -2px;
        left: -1px;
        content: '';
        display: inline-block;
        position: absolute;
        width: 29px;
        height: 28px;
        border: 2px solid #ff5c23;
        z-index: 10;
      }
    }
  }

  &_disabled {
    color: #c7c7c7;
  }

  &_selected {
    background-color: #1d2e5b;
    color: white;
    position: relative;

    &_first {
      z-index: 1;

      &::before {
        top: -2px;
        left: -1px;
        content: '';
        display: inline-block;
        position: absolute;
        width: 29px;
        height: 28px;
        border: 2px solid #ff5c23;
      }
    }
  }
}

@media (min-width: $tablet) {
  .calendar {
    min-width: 532px;
  }

  .calendar__month-block {
    padding-top: 27px;
    padding-bottom: 23px;
    margin-bottom: 39px;
  }

  .calendar__month {
    font-size: 36px;
    line-height: 36px;
    margin-right: -25px;
    margin-top: 0;
  }

  .calendar__button {
    transform: scale(1.9);
    margin-top: 7px;
    margin-left: 25px;

    &_next {
      margin-right: 25px;
      margin-top: 5px;
      transform: scale(1.9) rotate(180deg);
    }
  }

  .calendar__weekday-list {
    min-width: 470px;
    margin-top: 0px;
  }

  .calendar__weekday {
    font-size: 18px;
    line-height: 18px;
  }

  .calendar__weekday-big {
    display: inline-block;
    font-family: $default;
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    margin-left: -5px;

    &_weekend {
      color: #ff5c23;
    }
  }

  .calendar__dates-list {
    width: 100%;
  }

  .calendar__item {
    width: 76px;
    height: 69px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 25px;

    &_active:hover::before {
      width: 71px;
      height: 63px;
      border-width: 4px;
      left: -2px;
      top: -1px;
    }

    &_selected_first::before {
      width: 71px;
      height: 63px;
      border-width: 4px;
      left: -2px;
      top: -1px;
    }
  }
}

@media (min-width: $desktop) {
  .calendar {
    min-width: 1000px;
  }

  .calendar__month {
    margin-left: -18px;
  }

  .calendar__button {
    margin-left: 5px;
    transform: scale(1.6);

    &_next {
      transform: rotate(180deg) scale(1.6);
      margin-right: 7px;
    }
  }

  .calendar__month-block {
    margin-bottom: 27px;
  }

  .calendar__weekday-list {
    width: 873px;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: -95px;
  }

  .calendar__dates-list {
    width: 1001px;
  }

  .calendar__item {
    width: 143px;
    height: 70px;
    text-align: left;
    padding-left: 16px;
    padding-top: 15px;

    &_active:hover::before {
      width: 140px;
      height: 66px;
      border-width: 4px;
      left: -3px;
      top: -2px;
    }

    &_selected_first {

      &::before {
        width: 140px;
        height: 66px;
        border-width: 4px;
        left: -3px;
        top: -2px;
      }

      &::after {
        display: inline-block;
        content: "Заезд";
        width: 43px;
        height: 20px;
        position: absolute;
        font-family: $default;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        z-index: 40;
        bottom: 11px;
        left: 16px;
      }
    }

    &_selected_last {

      &::after {
        display: inline-block;
        content: "Выезд";
        width: 43px;
        height: 20px;
        position: absolute;
        font-family: $default;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        z-index: 40;
        bottom: 11px;
        left: 16px;
      }
    }
  }
}
