.companion-filter{
  background: #FFD74B;
  border-radius: 20px;
  width: 270px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  margin-top: 21px;
  padding-bottom: 22px;
}

.companion-filter__title{
  width: 145px;
  min-height: 66px;
  font-family: $bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #1D2E5B;
  margin-top: 25px;
}

.companion-filter fieldset{
  padding-left: 0;
  border: none;
  outline: none;
  &:not(:first-of-type){
    margin-top: -5px;
  }
}

.companion-filter__block{
  width: 220px;
  padding-left: 0;
  margin-left: 0px;

  &:not(:first-of-type){
    margin-top: 0px;
  }
}

.companion-filter__title-part{
  border-top: 1px solid #F3C72B;
  width: 100%;
  padding-top: 12px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.companion-filter__legend{
  font-family: $bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1D2E5B;
  cursor: pointer;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.3;
  }
}

.companion-filter__expend-button{
  cursor: pointer;
  width: 15px;
  height: 10px;
  position: absolute;
  outline: none;
  border: none;
  background: url("../img/companion-filter-expend-button.svg") center no-repeat;
  top: 14px;
  right: 0;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.3;
  }
}

.companion-filter__expend-button_open{
  transform: rotate(180deg);
}

.companion-filter__input{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2px;
  margin-top: 15px;
}

.companion-filter__input label{
  font-family: $default;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-left: 27px;
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &:not(:last-of-type){
    margin-bottom: 12px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.3;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -27px;
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #fff;
  }
}

.companion-filter__checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.companion-filter__checkbox:checked+label::before{
  background: url("../img/filter-checkbox-active.svg") center no-repeat;
  background-color: #FFF;
}

.companion-filter__transport-options{
  width: 130px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.companion-filter__level-input{
  margin-top: 16px;
}

.companion-filter__submit-button{
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 230px;
  margin-left: -5px;
  font-family: $bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #161C35;
  background-color: white;
  padding-bottom: 14px;
  padding-top: 16px;
  padding-left: 73px;
  padding-right: 73px;
  border-radius: 25px;
  margin-top: 20px;

  &:hover{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.14));
  }

  &:active{
    background: #F3C72B;
    color: #B1942E;
  }
}

.companion-filter__content-block_hidden{
  display: none;
}

@media (min-width: $tablet) and (max-width: $media-max-desktop){
  .companion-filter{
    width: 688px;
    margin-top: 43px;
    padding-top: 12px;
    padding-left: 35px;
    padding-bottom: 39px;
  }

  .companion-filter__form{
    margin-top: -25px;
    border-top: 1px solid #F3C72B;
    padding-top: 23px;

    & fieldset:nth-of-type(4) .companion-filter__title-part{
      padding-top: 21px;
    }

    & fieldset:nth-of-type(5) .companion-filter__title-part{
      padding-top: 25px;
    }
  }

  .companion-filter__title{
    font-size: 30px;
    line-height: 30px;
    min-width: 500px;
    letter-spacing: 0em;
  }

  .companion-filter__expend-button{
    display: none;
  }

  .companion-filter__title-part{
    width: 110px;
    border-top: none;
    display: block;
    margin-left: 0px;
    margin-right: 5px;

    &:nth-child(4){
      padding-top: 20px;
    }
  }

  .companion-filter__content-block_hidden{
    display: block;
  }

  .companion-filter__block{
    width: 617px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0;

    &:first-of-type{
      margin-bottom: -5px;
    }
  }

  .companion-filter__content-block{
    width: 496px;
    margin-top: 12px;
    margin-left: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .companion-filter__legend{
    font-size: 20px;
    line-height: 20px;
  }

  .companion-filter__input label{
    font-size: 20px;
    line-height: 20px;
    width: 114px;

    &::before{
      top: -1px;
      left: -32px;
      transform: scale(1.33);
    }
  }

  .companion-filter__transport-options{
    display: flex;
    justify-content: flex-start;
    gap: 11px;
    margin-left: 15px;
  }

  .companion-filter__submit-button{
    min-width: 617px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 66px;
    margin-left: 0px;
  }
}

@media (min-width: $desktop){
  .companion-filter{
    margin-top: 40px;
  }
}
