.companion-level {
  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &::after {
  border-radius: 50%;
  display: block;
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 3px;
  height: 39px;
  width: 39px;
  font-family: $bold;
  font-size: 24px;
  line-height: 24px;
  padding-top: 10px;
  padding-left: 7px;
  background: #fff;
  color: #1d2e5b;
  }

  @media (min-width: $tablet) {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    &::after {
    top: 3px;
    left: 3px;
    height: 54px;
    width: 54px;
    padding-top: 10px;
    padding-left: 14px;
    }

    &::before {
      content: "level";
      display: inline-block;
      position: absolute;
      font-family: $default;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
      opacity: 0.4;
      border-top: 1px solid #000000;
      padding-top: 2px;
      top: 36px;
      left: 18px;
      z-index: 5;
    }
  }

  &_99 {
    background-image: linear-gradient(-90deg, transparent 53%, #ff8d30 53%),
                      linear-gradient(150deg, transparent 50%, #ff8d30 50%),
                      linear-gradient(90deg, transparent 50%, #ff8d30 50%);

    &::after {
      content: '99';
    }
  }

  &_80 {
    background-image: linear-gradient(90deg, transparent 50%, #ff8d30 50%),
                      linear-gradient(180deg, transparent 50%, #ff8d30 50%);

    &::after {
      content: '80';
    }
  }

  &_25 {
    background-image: linear-gradient(270deg, transparent 50%, white 50%),
                      linear-gradient(180deg, #ff8d30 50%, white 50%);

    &::after {
      content: '25';
    }
  }

  &_50 {
    background-image: linear-gradient(90deg, #fff 50%, #ff8d30 50%);

    &::after {
      content: '50';
    }
  }
}

.companion-level_med {
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 50%;

  &::after {
  border-radius: 50%;
  display: block;
  content: "";
  box-sizing: border-box;
  position: absolute;
  font-family: $bold;
  font-size: 24px;
  line-height: 24px;
  padding-top: 10px;
  padding-left: 7px;
  background: #fff;
  color: #1d2e5b;
  }

  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  &::after {
  top: 3px;
  left: 3px;
  height: 54px;
  width: 54px;
  padding-top: 10px;
  padding-left: 14px;
  }

  &::before {
    content: "level";
    display: inline-block;
    position: absolute;
    font-family: $default;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    opacity: 0.4;
    border-top: 1px solid #000000;
    padding-top: 2px;
    top: 36px;
    left: 18px;
    z-index: 5;
  }

  &_99 {
    background-image: linear-gradient(-90deg, transparent 53%, #ff8d30 53%),
                      linear-gradient(150deg, transparent 50%, #ff8d30 50%),
                      linear-gradient(90deg, transparent 50%, #ff8d30 50%);

    &::after {
      content: '99';
    }
  }

  &_80 {
    background-image: linear-gradient(90deg, transparent 50%, #ff8d30 50%),
                      linear-gradient(180deg, transparent 50%, #ff8d30 50%);

    &::after {
      content: '80';
    }
  }

  &_25 {
    background-image: linear-gradient(270deg, transparent 50%, white 50%),
                      linear-gradient(180deg, #ff8d30 50%, white 50%);

    &::after {
      content: '25';
    }
  }
}

.companion-level_big {
  width: 100px;
  height: 100px;

  &::after {
  top: 3px;
  left: 3px;
  height: 94px;
  width: 94px;
  font-size: 38px;
  line-height: 38px;
  padding-top: 19px;
  padding-left: 27px;
  background-color: #edeff6;
  }

  &::before {
    content: "level";
    width: 51px;
    text-align: center;
    display: inline-block;
    position: absolute;
    font-family: $default;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
    border-top: 1px solid #000000;
    padding-top: 6px;
    top: 62px;
    left: 25px;
    z-index: 5;
  }

  @media (min-width: $tablet) {
    width: 94px;
    height: 94px;

    &::after {
      width: 88px;
      height: 88px;
      padding-top: 16px;
      padding-left: 23px;
      @media(min-width: $desktop) {
        background-color: #192144;
        color: white;
      }
    }

    &::before {
      top: 58px;
      left: 21px;

      @media(min-width: $desktop) {
        color: white;
        opacity: 1;
        border-top: 2px solid #5e647c;
      }
    }
  }
}
