.companion{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/companion-back-tablet.svg") calc(50% - 145px) 35px no-repeat,
              url("../img/rogovaya-back-mobile@1x.png") calc(50% - 135px) 300px no-repeat;
  @include typical-bottom-section;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #192144;
  padding-bottom: 30px;
  overflow: visible;
}

.companion__wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../img/smolov-back-desktop@1x.png") 130px 35px no-repeat;
  width: 270px;
  overflow: visible;
}

.companion__title{
  @include typical-title;
  margin-top: 67px;
  margin-bottom: 3px;
  margin-left: 25px;
}

.companion p:first-of-type{
  display: block;
  width: 217px;
  font-family: $light;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 25px;
}

.companion p:nth-of-type(2){
  display: block;
  width: 217px;
  font-family: $bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 25px;
}

.companion__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  margin-top: 38px;
  overflow: visible;
  z-index: 2;
}

.companion__card{
  width: 270px;
  border-radius: 10px;
  position: relative;
  overflow: visible;

  &:hover{
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));
    background-size: 350px 350px;
    background-position: -40px -40px;
  }

  &_firsova{
    background: url("../img/firsova-desktop@1x.jpg") top no-repeat;
    border-radius: 10px;
    z-index: 1;
  }
  &_demin{
    background: url("../img/demin-desktop@1x.jpg") top no-repeat;
  }
}

.companion__level{
  position: absolute;
  top: 17px;
  left: 17px;
}

.companion__content{
  width: 270px;
  min-height: 158px;
  display: flex;
  margin-top: 252px;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.companion__countries{
  display: flex;
  gap: 20px;
  margin-top: -12px;
}

.companion__companion-name{
  position: relative;
  font-family: $bold;
  font-size: 21px;
  line-height: 21px;
  color: #1D2E5B;
  margin-top: 11px;
  cursor: pointer;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.3;
  }

  &_offline::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: url("../img/offline.svg") center no-repeat;
    margin-right: 10px;
    margin-top: -10px;
    left: -16px;
    top: 16px;
  }

  &_online::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: url("../img/online.svg") center no-repeat;
    left: -16px;
    top: 7px;
  }
}

.companion__hashtags{
  font-family: $light;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #444444;
  width: 188px;
  min-height: 36px;
  margin-top: 15px;
}

.companion__transport-options{
  margin-left: 0px;
  margin-top: 16px;
}

.companion__link{
  @include typical-link;
  margin-top: 19px;
}

@media (min-width: $tablet) {
  .companion{
    padding-bottom: 86px;
    padding-top: 27px;
    background: none;
    background-color: #192144;
    justify-content: center;
  }

  .companion__wrap{
    padding-left: 35px;
    box-sizing: border-box;
    width: 688px;
    align-items: flex-start;
    background: url("../img/rogovaya-back-desktop@1x.png") 389px 53px no-repeat,
                url("../img/companion-back-tablet.svg") 20px 45px no-repeat,
                url("../img/smolov-back-desktop@1x.png") 20px 398px no-repeat;
  }

  .companion__title{
    min-height: 45px;
    margin-left: 0px;
    margin-top: 114px;
    margin-bottom: 28px;
  }

  .companion p:first-of-type{
    width: 427px;
    min-height: 136px;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 17px;
    margin-left: 0px;
  }

  .companion p:last-of-type{
    width: 260px;
    min-height: 48px;
    font-size: 21px;
    line-height: 24px;
    margin-left: 0px;
  }

  .companion__cards{
    flex-direction: row;
    gap: 50px;
    margin-left: 0px;
  }

  .companion__card{
    width: 285px;
    border-radius: 20px;
  }

  .companion__content{
    width: 285px;
    display: flex;
    margin-top: 286px;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .companion__companion-name{
    margin-top: 15px;
    font-size: 24px;
    line-height: 22px;

    &_offline::before{
      transform: scale(1.33);
      left: -16px;
      top: 16px;
    }

    &_online::before{
      transform: scale(1.33);
      left: -16px;
      top: 7px;
    }
  }

  .companion__hashtags{
    width: 223px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 23px;
  }

  .companion__transport-options{
    margin-top: 20px;
  }

  .companion__link{
    margin-left: 3px;
    margin-top: 81px;
  }

  .companion__level{
    top: 20px;
    left: 22px;
  }
}

@media (min-width: $desktop) {
  .companion{
    padding-bottom: 71px;
    background: url("../img/companion-back-tablet.svg") calc(50% - 555px) 70px no-repeat;
    background-color: #192144;
  }

  .companion__wrap{
    background: url("../img/rogovaya-back-desktop@1x.png") 112px 256px no-repeat,
                url("../img/smolov-back-desktop@1x.png") 470px 5px no-repeat;
    flex-wrap: wrap;
    height: 550px;
    width: 1320px;
    box-sizing: border-box;
    padding-left: 70px;
    margin-top: 103px;
    margin-left: 0;
  }

  .companion__link{
    order: -1;
    width: 280px;
    margin-top: 83px;
    margin-bottom: 0;
    margin-left: 3px;
  }

  .companion__title{
    order: -4;
    margin-top: 0;
  }

  .companion p:first-of-type{
    order: -3;
  }

  .companion p:last-of-type{
    order: -2;
    margin-bottom: 0;
  }

  .companion__cards{
    margin-top: 4px;
    margin-left: auto;
    gap: 60px;
  }
}
