.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: $bold;
  font-size: 16px;
  line-height: 18px;
}

.contacts__telephone {
  display: block;
  color: #192144;
  margin-bottom: 27px;
  text-transform: uppercase;

  &:hover {
    color: #ffbd30;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__telephone_yellow {
  color: #ffd74b;
}

.contacts__telephone::before {
  display: none;
  position: absolute;
  content:'';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../img/contacts-icon.svg") center no-repeat;
  top: -15px;
  left: -61px;
}

.contacts__mail {
  color: #192144;
  text-transform: uppercase;

  &:hover {
    color: #ffbd30;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__mail_yellow {
  color: #ffd74b;
}

.contacts__mail::before {
  display: none;
  position: absolute;
  content:'';
  display: inline-block;
  width: 45px;
  height: 46px;
  background: url("../img/contacts-icon-mail.svg") center no-repeat;
  top: 30px;
  left: -61px;
}

@media (min-width: $tablet) {
  .contacts {
    font-size: 28px;
    line-height: 28px;
    overflow: visible;
  }

  .contacts__telephone {
    margin-bottom: 39px;
  }

  .contacts__telephone::before {
    width: 68px;
    height: 80px;
    background: url("../img/contacts-icon-phone-tablet.svg") center no-repeat;
    top: -25px;
    left: -90px;
  }

  .contacts__mail::before {
    width: 68px;
    height: 68px;
    background: url("../img/contacts-icon-tablet.svg") center no-repeat;
    top: 45px;
    left: -90px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    flex-direction: row;

    &_desktop {
      display: none;
    }
  }

  .contacts__telephone {
    margin-right: 231px;
  }

  .contacts__telephone::before {
    width: 90px;
    height: 90px;
    background: url("../img/contacts-icon-desktop.svg") center no-repeat;
    top: -30px;
    left: -120px;
  }

  .contacts__mail::before {
    width: 90px;
    height: 90px;
    background: url("../img/contacts-icon-mail-desktop.svg") center no-repeat;
    top: -30px;
    left: 320px;
  }
}
