@media (min-width: $tablet) {
  .enter-link {
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 83px;
    right: -305px;
    width: 188px;
    font-family: $bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #161C35;
    padding-left: 29px;
    padding-top: 20px;
    padding-right: 28px;
    padding-bottom: 18px;

    &_header {
      top: 93px;
    }

    &_scrolled {
      position: fixed;
      top: 46px;
      right: calc(50% - 94px);
      margin-right: -250px;

      .main-info{
        position: inherit;
      }
    }
  }

}

@media (min-width: $desktop) {
  .enter-link {
    position: relative;
    right: 0;
    top: 0;

    &_header {
      padding-left: 29px;
      padding-top: 40px;
      padding-right: 28px;
      padding-bottom: 0px;
      position: absolute;
      top: -2px;
      right: 3px;
    }

    &_scrolled {
      position: fixed;
      top: 51px;
      right: calc(50% - 405px);
      margin-right: -250px;
    }
  }
}
