.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include typical-top-section;
  background: white;
  padding-bottom: 19px;
}

.footer__wrap{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo{
  display: block;
  width: 96px;
  height: 17px;
  background: url("../img/footer-logo.svg") center no-repeat;
  font-size: 0;
  margin-top: 37px;
  margin-left: 0px;
}

.footer__social-media{
  margin-top: 52px;
  margin-left: -2px;
}

.footer__bottom-part-wrapper{
  display: flex;
  justify-content: flex-start;
  margin-top: 36px;
  border-top: 1px solid #F2F2F2;
  width: 270px;
  cursor: pointer;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.3;
  }
}

.footer__designed-by{
  font-family: $default;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  margin-top: 34px;
}

.footer__academy{
  font-size: 0;
  display: block;
  min-width: 27px;
  min-height: 33px;
  font-size: 0;
  margin-top: 25px;
  margin-left: 159px;
}

@media (min-width: $tablet) {
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__wrap{
    width: 688px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0;
  }

  .footer__logo{
    width: 164px;
    height: 42px;
    background: url("../img/logo-tablet-blue@1x.png") center no-repeat;
    margin-right: 70px;
    margin-top: 45px;
    margin-left: 20px;
    transform: translateX(-20px);
  }

  .footer__social-media{
    width: 185px;
    height: 62px;
    margin-top: 45px;

    & img{
      transform: scale(1.2);
    }
  }

  .footer__bottom-part-wrapper{
    border: none;
  }

  .footer__designed-by{
    font-size: 20px;
    line-height: 20px;
    width: 104px;
    margin-left: 150px;
    margin-top: 17px;
  }

  .footer__academy{
    margin-left: 23px;
    margin-top: 10px;
  }
}

@media (min-width: $desktop) {
  .footer{
    flex-direction: row;
    justify-content: center;
  }

  .footer__logo{
    width: 200px;
    height: 55px;
    margin-right: 20px;
    background: url("../img/logo-desktop-blue@1x.png") center no-repeat;
  }

  .footer__designed-by{
    margin-left: 135px;
  }

  .footer__wrap{
    width: 1320px;
    justify-content: space-between;
  }
}
