.intro-section {
  @include typical-bottom-section-catalog;
  background-color: #182044;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 3;
  position: relative;
}

.intro-section__wrap {
  width: 270px;
  height: 104px;
  display: flex;
  justify-content: flex-start;
}

.intro-section__title {
  font-family: $bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  position: relative;
  margin-top: 57px;

  &::after {
    top: 44px;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: #ff8d30;
  }
}

.intro-section__index-link {
  display: none;
}

@media (min-width: $tablet) {
  .intro-section {
    margin-top: 9px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 33px;

    &_form {
      margin-top: 10px;
    }
  }

  .intro-section__wrap {
    box-sizing: border-box;
    padding-top: 40px;
    width: 688px;
    padding-left: 35px;
    display: flex;
    justify-content: flex-start;
    height: 230px;
  }

  .intro-section_form .intro-section__title::after {
    top: 129px;
    left: 0px;
  }

  .intro-section__title {
    font-family: $bold;
    font-size: 60px;
    line-height: 70px;

    &::after {
      top: 130px;
      left: 3px;
      height: 8px;
    }
  }

  .intro-section__index-link {
    display: block;
    font-family: $bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 157px;
    margin-top: 83px;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 32px;
      height: 16px;
      background: url("../img/icon-back.svg");
      margin-left: 27px;
    }
  }
}

@media (min-width: $desktop) {
  .intro-section {
    padding-bottom: 16px;
    padding-top: 0px;
  }

  .intro-section__wrap {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-left: 66px;
    padding-right: 63px;
    padding-top: 27px;
    height: 200px;
    }

  .intro-section__title {
    &::after {
      top: 129px;
      left: 0;
    }
  }

  .intro-section_form .intro-section__title::after {
    top: 128px;
    left: 0px;
  }
}
