.level-input{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-input__num{
  position: relative;
  display: flex;
  justify-content: flex-start;

  &::after{
    position: absolute;
    content: '';
    display: inline-block;
    top: 0;
    left: 102px;
    width: 16px;
    height: 35px;
    background: url("../img/level-input-med.svg") center no-repeat;
  }
}

.level-input__num input{
  width: 110px;
  box-sizing: border-box;
  border-top: 1px solid #CBCED9;
  border-bottom: 1px solid #CBCED9;
  outline: none;
  font-family: $med;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #1D2E5B;
  text-align: center;
  height: 35px;
}

.level-input__num input:first-of-type{
  position: relative;
  border-left: 1px solid #CBCED9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.level-input__num input:last-of-type{
  border-right: 1px solid #CBCED9;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.level-input__range{
  margin-left: -5px;
  margin-top: 24px;
  position: relative;
  overflow: visible;
  width: 215px;
  height: 2px;
  background: linear-gradient(to right, #D2B54E, #D2B54E 73px, #1D2E5B 73px);
}

.level-input__min-range,
.level-input__max-range{
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: url("../img/filter-range-btn.svg") center no-repeat;
  position: absolute;
  border: none;
  outline: none;
  top: -4px;
}

.level-input__min-range{
  left: 67px;
}

.level-input__max-range{
  right: -5px;
}

@media (min-width: $tablet){
  .level-input__range{
    order: -1;
  }

  .level-input__min-range,
  .level-input__max-range{
    transform: scale(1.33);
  }

  .level-input__max-range{
    right: 1px;
  }

  .level-input__range{
    height: 3px;
    width: 281px;
    margin-top: -4px;
  }

  .level-input__num input{
    width: 74px;
    height: 46px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em
  }

  .level-input__num{
    margin-top: -2px;
    margin-right: 2px;

    &::after{
      top: 5px;
      transform: scale(1.33);
      left: 64px;
    }
  }
}
