.main-info{
  background: url("../img/globe-back-mobile@1x.jpg") 0px -555px no-repeat;
  background-size: cover;
  background-color: #161C34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  margin-top: 23px;
  position: relative;
}

.main-info__wrap{
  background: url("../img/traveller-illustration-mobile@1x.png") 55px 170px no-repeat;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info__title{
  display: block;
  overflow: visible;
  min-width: 250px;
  font-family: $bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 42px;
  margin-left: 0px;
}

.main-info__user-links{
  margin-top: 245px;
}

.user-links__enter-link{
  min-width: 190px;
  min-height: 40px;
  box-sizing: border-box;
  font-family: $bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #161C35;
  background-color: #FFD74B;
  border-radius: 25px;
  padding-top: 12.8px;
  padding-bottom: 11.2px;
  padding-left: 29.31px;
  padding-right: 28.3px;
}

.main-info__review{
  display: flex;
  flex-direction: column;
  width: 161px;
  margin-left: -15px;
  margin-top: 22px;
  margin-bottom: 29px;
}

.main-info__review-quote{
  font-family: $light;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.main-info__review-author{
  font-family: $bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-style: normal;
}

.main-info__list{
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: myCounter;
  width: 100%;
}

.main-info__item{
  position: relative;
  min-width: 270px;
  min-height: 160px;
  background-color: red;
  list-style: none;
  border-radius: 8px;
}

.main-info__item:last-of-type{
  min-height: 80px;
}

.main-info__link{
  display: block;
  font-family: $bold;
  font-size: 18px;
  line-height: 18px;
  color: #161C35;
  width: 140px;
  min-height: 36px;
  margin-top: 22px;
  margin-left: 24px;
}

.main-info__item::after{
  counter-increment: myCounter;
  content: counter(myCounter);
  display: block;
  color: white;
  font-family: $bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  position: absolute;
  top: 22px;
  right: 21px;
}

.main-info__item_orange{
  background-color: #FF8D30;
  z-index: 1;
}

.main-info__item_light-orange{
  background-color: #FFA530;
  z-index: 2;
  margin-top: -80px;
}

.main-info__item_dark-yellow{
  background-color: #FFBD30;
  z-index: 3;
  margin-top: -80px;
}

.main-info__item_yellow{
  background-color: #FFD74B;
  z-index: 4;
  margin-top: -80px;
}

@media (min-width: $tablet) {
  .main-info{
    background: url("../img/globe-back-tablet@1x.jpg") -400px -182px no-repeat;
    background-size: cover;
    background-color: #161C34;
  }

  .main-info__wrap{
    background: url("../img/traveller-illustration-tablet@1x.png") calc(50% + 85px) 270px no-repeat;
    width: 688px;
  }

  .main-info__title{
    width: 439px;
    min-height: 210px;
    font-size: 60px;
    line-height: 70px;
    margin-top: 27px;
  }

  .main-info__review{
    width: 264px;
    min-height: 186px;
    margin-top: 88px;
    margin-left: -320px;
  }

  .main-info__review-quote{
    width: 264px;
    min-height: 66px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }

  .main-info__review-author{
    width: 260px;
    min-height: 75px;
    font-size: 21px;
    line-height: 25px;
  }

  .main-info__list{
    margin-top: 180px;
    min-width: 688px;
    flex-direction: row;
  }

  .main-info__item{
    min-height: 140px;
    margin-top: 0;
    border-radius: 0;
    width: 344px;
  }

  .main-info__item:last-of-type{
    min-height: 140px;
  }

  .main-info__item:nth-of-type(1){
    border-top-left-radius: 20px;
  }

  .main-info__item:nth-of-type(2){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .main-info__item:nth-of-type(3){
    border-bottom-left-radius: 20px;
  }

  .main-info__item:nth-of-type(4){
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .main-info__item:nth-of-type(2n+1){
    min-width: 365px;
  }

  .main-info__item:nth-of-type(2n){
    margin-left: -22px;
  }

  .main-info__link{
    width: 211px;
    min-height: 48px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 31px;
    margin-left: 32.63px;
  }

  .main-info__item::after{
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top: 88px;
    left: 33px;
  }
}

@media (min-width: $desktop) {
  .main-info{
    background: none;
    background: url("../img/globe-back-desktop@1x.jpg") -130px 0px no-repeat;
    background-size: cover;
    background-color: #161C34;
    width: calc(100% - 60px);
    padding-bottom: 0;
    padding-left: 60px;
    justify-content: center;
  }

  .main-info__wrap{
    width: 1320px;
    display: flex;
    background: url("../img/traveller-illustration-desktop@1x.png") 514px -10px no-repeat;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 108px;
  }

  .main-info__title{
    margin-left: 40px;
    margin-top: 90px;
    text-align: left;
    margin-right: 524px;
  }

  .main-info__review{
    min-width: 264px;
    min-height: 183px;
    margin-top: 100px;
    margin-left: 0;
  }

  .main-info__list{
    min-width: 1320px;
    min-height: 107px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 85px;
    margin-left: -69px;
  }

  .main-info__item{
    min-height: 107px;
    border-radius: 20px;
    width: 375px;

    &:not(:first-of-type){
      margin-left: -33px;
    }

    &:first-of-type{
      width: 345px;
    }

    &:nth-of-type(3){
      margin-left: -30px;

      &::after{
        left: 300px;
      }
    }

    &:nth-of-type(2)::after{
      left: 300px;
    }

    &:last-of-type{
      width: 315px;
      min-height: 107px;
      margin-left: -20px;
    }

    &::after{
      top: 28px;
      left: 268px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .main-info__list{
    margin-left: 0px;
  }
}
