.map{
  width: 100%;
  height: 424px;
  margin-top: -30px;

  background: url("../img/map-mobile@1x.jpg") center/100% auto no-repeat;
  @media(min-resolution: 2dppx){
    background: url("../img/map-mobile@2x.jpg") center/100% auto no-repeat;
  }
  @media(min-width: $tablet){
    height: 584px;
    margin-top: -60px;
    margin-bottom: -60px;
    background: url("../img/map-tablet@1x.jpg") center/100% auto no-repeat;
    @media(min-resolution: 2dppx){
      background: url("../img/map-tablet@2x.jpg") center/100% auto no-repeat;
    }
  }
}
