.photo {
  margin-top: 28px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.photo__card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 18px;
  padding-bottom: 74px;

  &:hover {
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));

    .photo__companion img {
      transform: scale(1.2);
    }
  }

  @media (max-width: 767px) {

    &:nth-of-type(2){
      margin-top: -1px;

      & .photo__hashtags{
        margin-top: 15px;
      }

      & .photo__transport-level-wrapper{
        margin-top: 8px;
      }

      & .photo__call-button{
        bottom: 23px;
      }
    }

    &:nth-of-type(3){
      & .photo__call-button{
        bottom: 14px;
      }
    }

    &:nth-of-type(4){
      & .photo__hashtags{
        margin-top: 16px;
      }

      & .photo__transport-level-wrapper{
        margin-top: 8px;
      }
    }
  }

  @media (min-width: $tablet) and (max-width: $media-max-desktop) {

    &:nth-of-type(2){
      .photo__name{
        margin-left: 3px;
      }

      .photo__hashtags{
        margin-left: 6px;
        margin-top: 3px;
      }

      .photo__like{
        margin-left: 0px;
        margin-top: 45px;
      }

      .photo__country-list{
        margin-bottom: 16px;
      }
    }

    &:nth-of-type(3){
      .photo__name{
        margin-left: -8px;
      }

      .photo__hashtags{
        margin-left: -5px;
        margin-top: 3px;
      }

      .photo__like{
        margin-left: -11px;
        margin-top: 46px;
      }

      .photo__call-button{
        margin-top: -1px;
      }

      .photo__country-list{
        margin-bottom: 13px;
      }
    }

    &:nth-of-type(4){
      .photo__name{
        margin-left: -13px;
      }

      .photo__hashtags{
        margin-left: -10px;
        margin-top: 3px;
      }

      .photo__like{
        margin-left: -17px;
        margin-top: 46px;
      }

      .photo__call-button{
        margin-top: -1px;
      }

      .photo__country-list{
        margin-bottom: 16px;
      }
    }
  }

  @media(min-width: $desktop){
    &:nth-of-type(1){
      .photo__like{
        margin-left: 42px;
      }

      .photo__call-button{
        margin-top: -3px;
      }

      .photo__hashtags{
        margin-left: 50px;
      }

      .photo__name{
        margin-left: 50px;
      }
    }

    &:nth-of-type(2){
      .photo__like{
        margin-left: 40px;
      }

      .photo__call-button{
        margin-top: -2px;
      }

      .photo__hashtags{
        margin-top: 6px;
        margin-left: 48px;
      }

      .photo__name{
        margin-left: 48px;
      }
    }

    &:nth-of-type(3){
      .photo__like{
        margin-left: 33px;
      }

      .photo__call-button{
        margin-top: -2px;
      }

      .photo__hashtags{
        margin-top: 7px;
        margin-left: 40px;
      }

      .photo__name{
        margin-left: 40px;
      }
    }

    &:nth-of-type(4){
      .photo__like{
        margin-left: 26px;
        margin-top: 46px;
      }

      .photo__call-button{
        margin-top: -4px;
      }

      .photo__hashtags{
        margin-top: 6px;
        margin-left: 34px;
      }

      .photo__name{
        margin-left: 34px;
        margin-top: 48px;
      }
    }
  }
}

.photo__about-companion {
  display: flex;
  flex-wrap: wrap;
}

.photo__name {
  width: 100px;
  min-height: 45px;
  margin-left: 16px;
  font-family: $bold;
  font-size: 20px;
  line-height: 20px;
  color: #1D2E5B;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: url("../img/offline.svg") center no-repeat;
    position: absolute;
    top: 23px;
    right: 22px;
  }

  &_offline::after {
    background: url("../img/offline.svg") center no-repeat;
  }

  &_online::after {
    background: url("../img/online.svg") center no-repeat;
  }
}

.photo__like-button {
  cursor: pointer;
  width: 31px;
  height: 31px;
  border: none;
  outline: none;
  background: url("../img/like.svg") center no-repeat;
  margin-top: 13px;

  &:hover {
    background-image: url("../img/like-hover.svg");
  }

  &:active {
    opacity: 0.9;
  }

  &_active {
    background: url("../img/like-active.svg") center no-repeat;

    &:hover {
      background-image: url("../img/like-active-hover.svg");
    }

    &:active {
      opacity: 0.9;
    }
  }
}

.photo__companion {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.photo__call-button {
  position: absolute;
  left: 21px;
  bottom: 22px;
  font-family: $bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #161C35;

  padding-top: 13px;
  padding-bottom: 10px;
  padding-right: 78px;
  padding-left: 78px;
  background-color: #FFD74B;
  border-radius: 25px;

  &:hover {
    background-color: #FFBD30;
  }

  &:active {
    color: #B98D32;
  }
}

.photo__like {
  display: flex;
  align-items: center;
  margin-top: -45px;
  margin-left: 50px;
  z-index: 2;
}

.photo__companion-likes {
  font-family: $bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #161C35;
  margin-left: 5px;
  margin-top: 15px;
}

.photo__hashtags {
  margin-top: 13px;
  margin-left: 8px;
  font-family: $default;
  width: 180px;
  min-height: 34px;
  font-size: 15px;
  line-height: 18px;
}

.photo__want-to-visit {
  padding-left: 9px;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photo__want-to-visit-title {
  background: linear-gradient(to right, #EDEFF6, #EDEFF6 15px, #FFF 15px, #FFF 142px, #EDEFF6 142px, #EDEFF6);
  font-family: $default;
  width: 270px;
  box-sizing: border-box;
  margin-left: -27px;
  padding-left: 26px;
  font-size: 15px;
  line-height: 1px;
  color: #444444;
}

.photo__country-list {
  width: auto;
  min-width: 46px;
  padding-left: 0;
  margin-top: 32px;
}

.photo__country-item {
  list-style: none;
  font-family: $med;
  font-size: 15px;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  margin-top: 1px;
  margin-left: 38px;
  color: #1D2E5B;

  &:nth-of-type(1) {
    margin-bottom: 9px;
  }

  &:nth-of-type(2) {
    margin-bottom: 12px;
  }

  &:last-of-type{
    margin-bottom: 0;
  }

  &::before {
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -3px;
    content: "";
    width: 26px;
    height: 18px;
  }

  &_shri-lanka {
    &::before {
      background: url("../img/sri-lanka-catalog.png") center no-repeat;
    }
  }

  &_thai {
    &::before {
      background: url("../img/thai-catalog.png") center no-repeat;
    }
  }

  &_saeish {
    &::before {
      background: url("../img/seychel-catalog.png") center no-repeat;
    }
  }

  &_belgium {
    &::before {
      background: url("../img/belgium-catalog.png") center no-repeat;
    }
  }

  &_chech {
    &::before {
      background: url("../img/chech-catalog.png") center no-repeat;
    }
  }

  &_usa {
    &::before {
      background: url("../img/usa-catalog.png") center no-repeat;
    }
  }

  &_australia {
    &::before {
      background: url("../img/australia-catalog.png") center no-repeat;
    }
  }

  &_dominica {
    &::before {
      background: url("../img/dominica-catalog.png") center no-repeat;
    }
  }

  &_uk {
    &::before {
      background: url("../img/uk-catalog.png") center no-repeat;
    }
  }

  &_germany {
    &::before {
      background: url("../img/germany-catalog.png") center no-repeat;
    }
  }
}

.photo__transport-level-wrapper {
  display: flex;
  min-height: 50px;
  margin-top: 4px;
}

.photo__transport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photo__transport-title {
  width: 194px;
  box-sizing: border-box;
  margin-left: -20px;
  padding-left: 30px;
  font-family: $default;
  font-size: 15px;
  line-height: 1px;
  color: #444444;
  background: linear-gradient(to right, #EDEFF6, #EDEFF6 15px, #FFF 15px, #FFF 102px, #EDEFF6 102px, #EDEFF6 194px);
}

.photo__transport-options {
  margin-top: 25px;
  margin-left: 3px;
}

.photo__level {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-width: 50px;
}

.photo__level-title {
  width: 64px;
  font-family: $default;
  font-size: 15px;
  line-height: 1px;
  color: #444444;
  background: linear-gradient(to right, #FFF, #FFF 50px, #EDEFF6 50px, #EDEFF6);
  margin-bottom: 18px;
  margin-left: 2px;
}

.photo__show-more {
  margin-top: 9px;
  margin-left: -2px;
  font-family: $bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1D2E5B;

  &:hover::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -2px;
    margin-right: 15px;
    background: url("../img/icon-plus-more.svg") center no-repeat;
  }
}

.photo__page-scroll {
  margin-top: 7px;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.photo__breadcrumbs {
  display: none;
}

.photo__previous-page,
.photo__next-page {
  outline: none;
  border: none;
  width: 134.5px;
  height: 51px;
  background: url("../img/page-arrow-left.svg") center no-repeat;
  background-color: white;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.photo__next-page {
  transform: rotate(180deg);
}

.photo__page-buttons {
  width: 100%;
  display: flex;
  gap: 1px;
}

@media (min-width: $tablet) {
  .photo {
    width: 688px;
    margin-top: 41px;
    gap: 40px;
  }

  .photo__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 0px;

    &:hover {
      .photo__companion {
        background-size: 220px 220px;
      }
    }
  }

  .photo__about-companion {
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    min-width: 500px;
  }

  .photo__companion {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  .photo__name {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    min-width: 225px;
    margin-left: 7px;
    margin-top: -2px;

    &::after {
      transform: scale(1.25);
      top: 11px;
      right: -18px;
    }
  }

  .photo__hashtags {
    width: 226px;
    min-height: 46px;
    font-size: 20px;
    line-height: 23px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .photo__like {
    order: 10;
    margin-top: 44px;
    margin-left: 4px;
  }

  .photo__call-button {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 32px 14px 32px;
    left: 0;
    bottom: 0;
    top: 2px;
    margin-right: 1px;
  }

  .photo__like-button {
    transform: scale(1.66);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }


  .photo__companion-likes {
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
  }

  .photo__transport-level-wrapper {
    order: 2;
    flex-direction: column;
    align-items: center;
    min-height: 190px;
    width: 60px;
    margin-left: 67px;
    margin-top: 0;
  }

  .photo__transport-title,
  .photo__level-title {
    display: none;
  }

  .photo__transport {
    height: 130px;
    width: 40px;
    margin-top: 0px;
    margin-left: -15px;
    margin-bottom: 5px;
  }

  .photo__transport-options {
    min-width: 40px;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    margin-top: 0;
  }

  .photo__level {
    margin-left: 0px;
  }

  .photo__want-to-visit {
    order: 3;
  }

  .photo__want-to-visit-title {
    min-width: 688px;
    margin-left: -45px;
    padding-left: 85px;
    background: linear-gradient(to right, #EDEFF6, #EDEFF6 70px, #FFF 70px, #FFF 212px, #EDEFF6 212px, #EDEFF6);
  }

  .photo__country-list {
    width: calc(100% - 4px);
    display: flex;
    gap: 35px;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 13px;
  }

  .photo__country-item {
    font-size: 20px;
    line-height: 20px;

    &::before {
      transform: scale(1.33);
      margin-right: 11px;
      border-radius: 2px;
    }
  }

  .photo__show-more {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: -1px;

    &::before {
      transform: scale(1.44);
      margin-right: 25px;
    }
  }

  .photo__page-scroll {
    width: 100%;
    margin-top: 12px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
    padding-right: 35px;
  }

  .photo__breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .photo__page-num {
    width: 50px;
    box-sizing: border-box;
    height: 50px;
    list-style: none;
    font-family: $bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1D2E5B;
    border-radius: 50%;
    padding-top: 17px;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &_selected {
      opacity: 1;
      background-color: #FFD74B;
    }
  }

  .photo__page-buttons {
    width: 53px;
    margin-top: 25px;
  }

  .photo__previous-page,
  .photo__next-page {
    width: 26.5px;
    background-position: left;
  }
}

@media (min-width: $desktop) {
  .photo {
    min-width: 966px;
    min-height: 285px;
    order: -1;
    margin-top: 60px;
    gap: 30px;
  }

  .photo__card {
    flex-direction: column;
    padding: 0;
    height: 285px;
    width: 951px;
    margin-left: -15px;

    &:hover {
      .photo__companion {
        background-size: 320px 320px;
      }
    }
  }

  .photo__companion {
    width: 285px;
    height: 285px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    & img {
      width: 285px;
    }
  }

  .photo__about-companion {
    width: 605px;
    height: 285px;
  }

  .photo__name {
    margin-top: 46px;
    margin-left: 60px;

    &::after {
      left: -25px;
    }
  }

  .photo__hashtags {
    margin-left: 60px;
  }

  .photo__like {
    margin-left: 60px;
  }

  .photo__want-to-visit {
    order: 2;
    width: 220px;
    min-height: 120px;
    margin-top: 52px;
    margin-left: 26px;
  }

  .photo__country-item {
    &:not(:last-of-type) {
      margin-bottom: -19px;
    }

    &::before {
      margin-left: -10px;
      margin-top: 2px;
    }
  }

  .photo__want-to-visit-title {
    display: none;
  }

  .photo__country-list {
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
  }

  .photo__transport-level-wrapper {
    flex-direction: row;
    order: 3;
    min-height: 60px;
    margin-top: 14px;
    margin-left: 8px;
    min-width: 232px;
  }

  .photo__transport {
    height: 50px;
    margin-top: 0px;
    margin-left: 0;
    min-width: 150px;
  }

  .photo__transport-options {
    flex-direction: row;
    margin-top: 10px;
  }

  .photo__level {
    margin-left: 35px;
  }

  .photo__level-value {
    margin-top: -10px;
  }

  .photo__show-more{
    margin-left: -86px;
    margin-top: 37px;
  }

  .photo__page-scroll{
    width: 948px;
    margin-left: -18px;
    margin-top: 43px;
    padding-right: 43px;
  }
}
