.price-list {
  background: #EDEFF6;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include typical-bottom-section;
  padding-bottom: 35px;
  z-index: 3;
  padding-top: 30px;
  margin-top: -30px;
}

.price-list__list {
  width: 270px;
}

.price-list__add-profile {
  display: flex;
  height: 100px;
  width: 245px;
  position: relative;
  margin-left: 25px;
  margin-top: 37px;
}

.price-list__title {
  @include typical-title;
  text-shadow: 0 3px 2px #CDC7CD;
  display: block;
  width: 107px;
  margin-top: 15px;
}

.price-list__profile-link {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../img/rates@1x.png") center/100px no-repeat;
  @media(min-resolution: 2dppx) {
    background: url("../img/rates@2x.png") center/100px no-repeat;
  }
  top: 0px;
  right: 0;
}

.price-list__items {
  margin-top: 30px;
}

.price-list__option {
  box-sizing: border-box;
  height: 30px;
  padding-top: 13px;
  border-top: 1px solid #E1E3E9;
  position: relative;
  margin-left: 25px;
  font-family: $light;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 6px;
  width: 199.75px;

  &::after {
    box-sizing: border-box;
    position: absolute;
    content: "";
    font-family: $default;
    font-size: 16px;
    line-height: 16px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    left: 210px;
    color: white;
    padding-top: 10px;
    padding-left: 13px;
  }

  &:first-of-type::after {
    background-color: #FF8D30;
    content: "1";
  }

  &:nth-of-type(2)::after {
    background-color: #FFBD30;
    content: "2";
  }

  &:last-of-type::after {
    background-color: #FFD74B;
    content: "3";
  }
}

.price-list__cost {
  font-family: $light;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  margin-left: 25px;
  margin-bottom: 16px;
}

.price-list__open-buisness {
  font-family: $bold;
  font-size: 16px;
  line-height: 16px;
  color: #132576;
  outline: none;
  border: none;
  margin-left: 19px;
  margin-top: 25px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .price-list {
    padding-bottom: 80px;
    padding-top: 60px;
    margin-top: -60px;
  }

  .price-list__profile-link {
    right: -35px;
    top: 360px;
  }

  .price-list__list {
    width: 688px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: url("../img/price-list-back-tablet.png") 490px 151px no-repeat;
  }

  .price-list__add-profile {
    width: 482px;
    margin-left: 105px;
  }

  .price-list__title {
    width: 482px;
  }

  .price-list__items {
    margin-top: 35px;
    min-height: 199px;
    width: 599px;
    margin-left: 90px;
    position: relative;
  }

  .price-list__option {
    position: relative;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #E1E3E9;
    height: 63px;
    padding-top: 20px;
    font-size: 28px;
    line-height: 28px;
    width: 562px;

    &::after {
      display: none;
    }

    &::before {
      box-sizing: border-box;
      position: absolute;
      content: "";
      font-family: $default;
      font-size: 28px;
      line-height: 28px;
      display: block;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      top: 0;
      left: -90px;
      color: white;
    }

    &:first-of-type::before {
      padding-top: 23px;
      padding-left: 27px;
      background-color: #FF8D30;
      content: "1";
    }

    &:nth-of-type(2)::before {
      padding-top: 21px;
      padding-left: 27px;
      background-color: #FFBD30;
      content: "2";
    }

    &:last-of-type::before {
      padding-top: 20px;
      padding-left: 27px;
      background-color: #FFD74B;
      content: "3";
    }
  }

  .price-list__option:last-of-type {
    border-bottom: 1px solid #E1E3E9;
  }

  .price-list__cost {
    width: 130px;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    right: 34px;
    top: 0px;
    margin-top: 19px;
  }

  .price-list__cost:nth-of-type(2) {
    margin-top: 90px;
  }

  .price-list__cost:nth-of-type(3) {
    margin-top: 160px;
  }

  .price-list__open-buisness {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin-top: 58px;
    margin-left: 110px;

    &::before {
      width: 68px;
      height: 68px;
      content: "";
      display: block;
      position: absolute;
      background: url("../img/open-buisness.svg") center no-repeat;
      top: -24px;
      left: -84px;
    }
  }
}

@media (min-width: $desktop) {
  .price-list {
    padding-top: 87px;
    padding-bottom: 185px;
  }

  .price-list__list {
    width: 1320px;
    padding-left: 40px;
    margin-top: 60px;
    background: url("../img/price-list-back-desktop.svg") 710px 150px no-repeat;
  }

  .price-list__add-profile {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .price-list__items {
    margin-left: 115px;
    margin-bottom: 4px;
  }

  .price-list__option {
    width: 805px;
  }

  .price-list__cost {
    right: -230px;
  }

  .price-list__profile-link {
    top: 200px;
    left: 610px;
    width: 198px;
    height: 198px;
    background: url("../img/rates@1x.png") center no-repeat;
    @media(min-resolution: 2dppx) {
      background: url("../img/rates@2x.png") center/198px no-repeat;
    }
  }

  .price-list__open-buisness {
    margin-top: 50px;
    margin-left: 135px;
  }
}
