.profile {
  background-color: #edeff6;
  display: flex;
  justify-content: center;
  padding-bottom: 62px;
  margin-top: -30px;
  padding-top: 30px;
  position: relative;
}

.profile__photo-change {
  display: none;
}

.profile__wrap {
  width: 270px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100px;
  }
}

.profile__level {
  margin-right: 35px;
}

.profile__change-img-button {
  @include typical-button_secondary;
  font-size: 20px;
  line-height: 18px;
  margin-top: 19px;
  margin-bottom: 20px;
}

.profile__tags-form {
  width: 100%;
  min-height: 90px;
}

.profile__transport-form {
  width: 100%;
  min-height: 63px;
  margin-top: 14px;
}

.profile__tags {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 0;

  &:hover {
    border-color: #959bb2;
  }

  &:focus-within {
    border-color: #161c35;
  }
}

.profile__tags-legend {
  width: 65px;
  padding-top: 4px;
  font-family: $bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
}

.profile__tags-input {
  outline: none;
  border: none;
  background-color: transparent;

  resize: none;
  width: 217px;
  min-height: 36px;
  font-family: $default;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.6;

  &:focus {
    opacity: 1;
  }
}


@media (min-width: $tablet) {
  .profile {
    padding-bottom: 108px;
    margin-top: -60px;
    padding-top: 60px;
  }

  .profile__wrap {
    box-sizing: border-box;
    width: 688px;
    margin-top: 65px;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
  }

  .profile__level {
    order: -3;
    margin-right: 0;
  }

  .profile__photo {
    width: 94px;
    height: 94px;
    border-radius: 5px;
    order: -1;
    margin-right: 0px;

    & img {
      width: 94px;
    }
  }

  .profile__transport-form {
    width: 308px;
    min-height: 104px;
    order: -2;
    margin-top: 0px;
    margin-left: 0px;
  }

  .profile__tags,
  .transport-options__input,
  .profile__tags-legend,
  .transport-options__legend,
  .transport-options__input-wrap,
  .profile__tags-wrap {
    transform: rotate(180deg);
  }

  .profile__tags-legend,
  .transport-options__legend {
    font-size: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 20px;
    letter-spacing: 0.08em;
  }

  .profile__tags-legend {
    padding-left: 15px;
  }

  .profile__change-img-button {
    padding-top: 22px;
    padding-bottom: 20px;
    letter-spacing: 0.09em;
    border-radius: 10px;
    margin-top: 40px;
  }

  .profile__tags {
    max-height: 105px;
    padding-right: 38px;
    padding-bottom: 51px;
    margin-top: 33px;
  }

  .profile__tags-input {
    width: 540px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: -20px;
  }
}

@media (min-width: $desktop) {
  .profile__wrap {
    width: 1320px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 0;
    padding-bottom: 6px;
    position: relative;
    cursor: pointer;
  }

  .profile__change-img-button {
    display: none;
  }

  .profile__level {
    position: absolute;
    right: 329px;
    top: -213px;
    z-index: 6;
  }

  .profile__photo {
    z-index: 6;
    width: 190px;
    height: 190px;
    position: absolute;
    right: 95px;
    top: -255px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none;
    margin: 0;

    & img {
      width: 190px;
    }

    &:hover::after {
      background: #d1d7e9;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  .profile__photo-change {
    display: block;
    position: absolute;
    width: 190px;
    height: 47px;
    right: 95px;
    top: -65px;
    box-sizing: border-box;
    padding-top: 17px;
    padding-left: 69px;
    padding-right: 72px;
    font-family: $med;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: #161c35;
    background-color: #dfe3f0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .profile__tags-form {
    order: -1;
    width: 732px;
    min-height: 105px;
    margin-top: -25px;
  }

  .profile__transport-form {
    order: 0;
    width: 384px;
    min-height: 105px;
    margin-top: 9px;
  }

  .profile__transport-form label {
    transform: scale(1.33);
  }
}
