.service{
  position: relative;
  background: url("../img/about-mobile@1x.png") center no-repeat;
  background-color: #161C34;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include typical-bottom-section;
  margin-top: -1px;
  padding-bottom: 65px;
}

.service__wrap{
  width: 270px;
}

.service__title{
  display: block;
  @include typical-title;
  margin-top: 31px;
  margin-bottom: 0;
}

.service p:first-of-type{
  display: block;
  margin-top: 19px;
  width: 211px;
  min-height: 109px;
  font-family: $light;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.service p:nth-of-type(2){
  display: block;
  margin-top: 20px;
  width: 211px;
  min-height: 68px;
  font-family: $bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.service__link{
  display: none;
}

@media (min-width: $tablet) {
  .service{
    padding-top: 66px;
    background: none;
    background-color: #180244;
    padding-bottom: 90px;
  }

  .service__wrap{
    background: url("../img/about-tablet@1x.png") 344px 40px no-repeat,
                url("../img/service-tablet.svg") 0px 0px no-repeat;

    width: 688px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 35px;
  }

  .service__title{
    margin-bottom: 23px;
  }

  .service p:first-of-type{
    width: 300px;
    min-height: 231px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 29px;
  }

  .service p:last-of-type{
    width: 265px;
    min-height: 75px;
    margin-top: 0;
    font-size: 21px;
    line-height: 25px;
  }

  .service__link{
    display: block;
    position: relative;
    background-color: #FFD74B;
    width: 276px;
    height: 80px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 24px;
    padding-top: 29px;
    padding-left: 32.81px;
    margin-top: 32px;
    border-radius: 20px;
    font-family: $bold;
    color: #1D2E5B;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

    &:hover{
      background-color: #FFBD30;
    }

    &:active{
      &::after{
        opacity: 0.3
      }

      color: rgba(#161C35, 0.3);
    }

    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 33px;
      right: 35.71px;
      width: 13px;
      height: 13.2px;
      background: url("../img/polygon.svg") center no-repeat;
    }
  }
}

@media (min-width: 1440px) {
  .service{
    padding-bottom: 163px;
    $back: calc(50% - 555px);
    $back2: calc(50% + 345px);
    background: url("../img/service-back-desktop.svg") $back 70px no-repeat,
                url("../img/about-desktop@1x.png") $back2 85px no-repeat;
    background-color: #192144;;
    padding-top: 101px;
  }

  .service__wrap{
    box-sizing: border-box;
    background: none;
    overflow: visible;
    width: 1320px;
    padding-left: 65px;
    align-items: flex-start;
  }

  .service__title{
    margin-left: 5px;
    margin-bottom: 39px;
  }

  .service p:first-of-type{
    margin-left: 5px;
    min-height: 102px;
    width: 619px;
    margin-bottom: 35px;
  }

  .service p:last-of-type{
    margin-left: 5px;
    width: 425px;
    min-height: 48px;
  }

  .service__link{
    margin-top: 64px;
    margin-left: 5px;
  }
}
