.social-media {
  width: 105px;
  height: 21px;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_footer {
    width: 135px;
  }
}

.social-media__link {
  display: block;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-media__link_yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
  border-radius: 50%;

  &:hover {
    opacity: 1;
    background-color: #ffbd30;
  }

  &:active img {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    min-width: 62px;
    height: 62px;
  }
}

@media (min-width: $desktop) {
  .social-media {

    &_desktop {
      display: none;
    }
  }
}
